@charset "utf-8";

@font-face { font-family: Iconochive-Regular; src: url("../fonts/Iconochive-Regular.woff") format("woff"), url("../fonts/Iconochive-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

[class^="iconochive-"], [class*=" iconochive-"] { speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; font-family: Iconochive-Regular !important; }

.iconochive-Uplevel::before { content: "↵"; }

.iconochive-exit::before { content: "🚣"; }

.iconochive-beta::before { content: "β"; }

.iconochive-logo::before { content: "🏛"; }

.iconochive-audio::before { content: "🕨"; }

.iconochive-movies::before { content: "🎞"; }

.iconochive-software::before { content: "💾"; }

.iconochive-texts::before { content: "🕮"; }

.iconochive-etree::before { content: "🎤"; }

.iconochive-image::before { content: "🖼"; }

.iconochive-web::before { content: "🗔"; }

.iconochive-collection::before { content: "∑"; }

.iconochive-folder::before { content: "📂"; }

.iconochive-data::before { content: "🗃"; }

.iconochive-tv::before { content: "📺"; }

.iconochive-article::before { content: "🗏"; }

.iconochive-question::before { content: "⍰"; }

.iconochive-question-dark::before { content: "?"; }

.iconochive-info::before { content: "i"; }

.iconochive-info-small::before { content: "ⓘ"; }

.iconochive-comment::before { content: "🗩"; }

.iconochive-comments::before { content: "🗪"; }

.iconochive-person::before { content: "👤"; }

.iconochive-people::before { content: "👥"; }

.iconochive-eye::before { content: "👁"; }

.iconochive-rss::before { content: "∞"; }

.iconochive-time::before { content: "🕑"; }

.iconochive-quote::before { content: "❝"; }

.iconochive-disc::before { content: "💿"; }

.iconochive-tv-commercial::before { content: "💰"; }

.iconochive-search::before { content: "🔍"; }

.iconochive-search-star::before { content: "✽"; }

.iconochive-tiles::before { content: "⊞"; }

.iconochive-list::before { content: "⇶"; }

.iconochive-list-bulleted::before { content: "⌗"; }

.iconochive-latest::before { content: "∈"; }

.iconochive-left::before { content: "˂"; }

.iconochive-right::before { content: "˃"; }

.iconochive-left-solid::before { content: "◂"; }

.iconochive-right-solid::before { content: "▸"; }

.iconochive-up-solid::before { content: "▴"; }

.iconochive-down-solid::before { content: "▾"; }

.iconochive-dot::before { content: "⏤"; }

.iconochive-dots::before { content: "▦"; }

.iconochive-columns::before { content: "▯"; }

.iconochive-sort::before { content: "⇕"; }

.iconochive-atoz::before { content: "🔤"; }

.iconochive-ztoa::before { content: "🔥"; }

.iconochive-upload::before { content: "📤"; }

.iconochive-download::before { content: "📥"; }

.iconochive-favorite::before { content: "★"; }

.iconochive-heart::before { content: "♥"; }

.iconochive-play::before { content: "▶"; }

.iconochive-play-framed::before { content: "🎬"; }

.iconochive-fullscreen::before { content: "⛶"; }

.iconochive-mute::before { content: "🔇"; }

.iconochive-unmute::before { content: "🔊"; }

.iconochive-share::before { content: "🎁"; }

.iconochive-edit::before { content: "✎"; }

.iconochive-reedit::before { content: "✐"; }

.iconochive-gear::before { content: "⚙"; }

.iconochive-remove-circle::before { content: "❎"; }

.iconochive-plus-circle::before { content: "🗖"; }

.iconochive-minus-circle::before { content: "🗕"; }

.iconochive-x::before { content: "🗙"; }

.iconochive-fork::before { content: "⋔"; }

.iconochive-trash::before { content: "🗑"; }

.iconochive-warning::before { content: "⚠"; }

.iconochive-flash::before { content: "🗲"; }

.iconochive-world::before { content: "🗺"; }

.iconochive-lock::before { content: "🔒"; }

.iconochive-unlock::before { content: "🔓"; }

.iconochive-twitter::before { content: "🐦"; }

.iconochive-facebook::before { content: "f"; }

.iconochive-googleplus::before { content: "g"; }

.iconochive-reddit::before { content: "👽"; }

.iconochive-tumblr::before { content: "T"; }

.iconochive-pinterest::before { content: "𝓟"; }

.iconochive-popcorn::before { content: "💥"; }

.iconochive-email::before { content: "📧"; }

.iconochive-embed::before { content: "🔗"; }

.iconochive-gamepad::before { content: "🕹"; }

.iconochive-Zoom_In::before { content: "+"; }

.iconochive-Zoom_Out::before { content: "-"; }

.iconochive-RSS::before { content: "📨"; }

.iconochive-Light_Bulb::before { content: "💡"; }

.iconochive-Add::before { content: "⊕"; }

.iconochive-Tab_Activity::before { content: "⌘"; }

.iconochive-Forward::before { content: "⏩"; }

.iconochive-Backward::before { content: "⏪"; }

.iconochive-No_Audio::before { content: "🔈"; }

.iconochive-Pause::before { content: "⏸"; }

.iconochive-No_Favorite::before { content: "☆"; }

.iconochive-Unike::before { content: "♡"; }

.iconochive-Song::before { content: "♫"; }

.iconochive-No_Flag::before { content: "⚐"; }

.iconochive-Flag::before { content: "⚑"; }

.iconochive-Done::before { content: "✓"; }

.iconochive-Check::before { content: "✔"; }

.iconochive-Refresh::before { content: "⟳"; }

.iconochive-Headphones::before { content: "🎧"; }

.iconochive-Chart::before { content: "📈"; }

.iconochive-Bookmark::before { content: "📑"; }

.iconochive-Documents::before { content: "📚"; }

.iconochive-Newspaper::before { content: "📰"; }

.iconochive-Podcast::before { content: "📶"; }

.iconochive-Radio::before { content: "📻"; }

.iconochive-Cassette::before { content: "📼"; }

.iconochive-Shuffle::before { content: "🔀"; }

.iconochive-Loop::before { content: "🔁"; }

.iconochive-Low_Audio::before { content: "🔉"; }

.iconochive-First::before { content: "🎖"; }

.iconochive-Invisible::before { content: "🕶"; }

.iconochive-Computer::before { content: "🖳"; }
